.admin-create-users-panel-wrapper{
    width:100vw;
    height:100vh;
    overflow: hidden;
    display: flex;
}
.admin-users-panel-navbar{
    width:20vw;
    height:100vh;
    border:2px solid black;
}
.admin-users-panel-detail{
    width:80vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-users-panel-detail-wrapper{
    width:40%;
    height:70%;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}
.input-details-1,
.input-details-2,
.input-details-3,
.input-details-4{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-details-1{
    height:50%;
    flex-direction: column;
    gap: 10%;
}
.input-details-1 input{
    width:40%;
    height:10%;
    border-top: none;
    border-left: none;
    border-right: none;
}
.input-details-2{
    height:10%;
}
.input-details-4{
   height: 15%;
}
.input-details-3{
    min-height: 10%;
    flex-direction: column;
}
.input-details-4 button{
    width: 30%;
    height: 50%;
    border-radius: 0.5rem;
    background-color: rgb(66, 159, 66);
}
.input-details-4 button:hover{
    background-color: rgb(142, 208, 142);
}